html,
body {
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: dimgray;
  flex-direction: column;
  display: flex;
}

a {
  margin: 10%;
}

a:hover img {
  opacity: 0.5;
  transform: scale(1.2);
}
