html,
.body {
  background-color: cadetblue;
  align-items: center;
  -webkit-text-fill-color: azure;
}

#weather-data {
  position: absolute;
  right: 1%;
  top: 1%;
  width: 400px;
  height: 700px;
  background-color: rgba(22, 106, 121, 0.281);
  border-radius: 2%;
  align-items: center;
}

#data {
  position: fixed;
  width: 350px;
  height: 100px;
  background-color: rgba(33, 143, 163, 0.897);
}
